.imgDisplay {
    text-align: center;
    align-content: center;
    border-style: groove;
    /* margin-left: 30%;
    margin-right: 30%; */
}  

.inputButton {
    margin: 10px 0; 
    padding: 10px 5px; 
    background: transparent; 
    border: none; 
    border-radius: 5px; 
    transition: all 0.2s ease; 
} 
.inputButton:hover {
    background: rgba(0,0,0,0.1); 
}
.inputButton:focus {
    background: rgba(0,0,0,0.2); 
}