.imgDisplay {
    text-align: center;
    align-content: center;
}  

.inputButton {
    margin: 10px 0; 
    padding: 10px 5px; 
    background: transparent; 
    border: none; 
    border-radius: 5px; 
    transition: all 0.2s ease; 
} 
.inputButton:hover {
    background: rgba(0,0,0,0.1); 
}
.inputButton:focus {
    background: rgba(0,0,0,0.2); 
}

textarea {
    border-style:ridge;
    border-radius: 10px;
}
textarea:hover{
    border-width: 2px;
}